///
/// HTML CODES by ColoraxCODING
/// colorax.com | @erdemtlmac
/// Free for personal and commercial use source code under license
///

/* Row */

	.row {
		@include html-grid(1.5rem);

		@include breakpoint('<=xlarge') {
			@include html-grid(1.5rem, 'xlarge');
		}

		@include breakpoint('<=large') {
			@include html-grid(1.5rem, 'large');
		}

		@include breakpoint('<=medium') {
			@include html-grid(1.5rem, 'medium');
		}

		@include breakpoint('<=small') {
			@include html-grid(1.5rem, 'small');
		}

		@include breakpoint('<=xsmall') {
			@include html-grid(1.5rem, 'xsmall');
		}

		@include breakpoint('<=xxsmall') {
			@include html-grid(1.5rem, 'xxsmall');
		}
	}